services:

    unbound-mailcow:
      image: ghcr.io/mailcow/unbound:1.24
      environment:
        - TZ=${TZ}
      restart: always
      networks:
        mailcow-network:
          aliases:
            - unbound

    php-fpm-mailcow:
      image: ghcr.io/mailcow/phpfpm:8.2.29-1
      command: "php-fpm -d date.timezone=${TZ} -d expose_php=0"
      dns:
        - 127.0.0.11
      environment:
        - LOG_LINES=${LOG_LINES:-9999}
        - TZ=${TZ}
        - DBNAME=${DBNAME}
        - DBUSER=${DBUSER}
        - DBPASS=${DBPASS}
        - DBHOST=${DBHOST}
        - REDIS_HOST=${REDIS_HOST}
        - MAILCOW_HOSTNAME=${MAILCOW_HOSTNAME}
        - IPV4_NETWORK=${IPV4_NETWORK}
        - MASTER=${MASTER:-y}
        - SKIP_SOGO=${SKIP_SOGO:-n}
      volumes:
        - ./data/hooks/phpfpm:/hooks:Z
        - ./data/web:/web:z
        - ./data/conf/sogo/:/etc/sogo/:z
        - ./data/conf/nginx/:/etc/nginx/conf.d/:z
        - mysql-socket-vol-1:/var/run/mysqld/:z
      restart: always
      networks:
        mailcow-network:
          aliases:
            - phpfpm

    sogo-mailcow:
      image: ghcr.io/mailcow/sogo:5.12.4-1
      dns:
        - 127.0.0.11
      environment:
        - DBNAME=${DBNAME}
        - DBUSER=${DBUSER}
        - DBPASS=${DBPASS}
        - DBHOST=${DBHOST}
        - REDIS_HOST=${REDIS_HOST}
        - TZ=${TZ}
        - MAILCOW_HOSTNAME=${MAILCOW_HOSTNAME}
        - SOGO_EXPIRE_SESSION=${SOGO_EXPIRE_SESSION:-480}
        - SKIP_SOGO=${SKIP_SOGO:-n}
        - MASTER=${MASTER:-y}
      volumes:
        - ./data/conf/sogo/:/etc/sogo/:z
        - ./data/web/inc/init_db.inc.php:/init_db.inc.php:z
        - mysql-socket-vol-1:/var/run/mysqld/:z
        - sogo-web-vol-1:/sogo_web
      restart: always
      networks:
        mailcow-network:
          aliases:
            - sogo

    dovecot-mailcow:
      image: ghcr.io/mailcow/dovecot:2.3.21.1-1
      dns:
        - 127.0.0.11
      volumes:
        - ./data/conf/dovecot:/etc/dovecot:z
        - vmail-vol-1:/var/vmail
        - ./data/assets/ssl:/etc/ssl/mail/:ro,z
        - mysql-socket-vol-1:/var/run/mysqld/:z
      environment:
        - DBNAME=${DBNAME}
        - DBUSER=${DBUSER}
        - DBPASS=${DBPASS}
        - DBHOST=${DBHOST}
        - REDIS_HOST=${REDIS_HOST}
        - TZ=${TZ}
        - MAILCOW_HOSTNAME=${MAILCOW_HOSTNAME}
        - MASTER=${MASTER:-y}
      restart: always
      networks:
        mailcow-network:
          aliases:
            - dovecot

    postfix-mailcow:
      image: ghcr.io/mailcow/postfix:3.7.11-1
      dns:
        - 127.0.0.11
      volumes:
        - ./data/conf/postfix:/opt/postfix/conf:z
        - ./data/assets/ssl:/etc/ssl/mail/:ro,z
        - mysql-socket-vol-1:/var/run/mysqld/:z
      environment:
        - DBNAME=${DBNAME}
        - DBUSER=${DBUSER}
        - DBPASS=${DBPASS}
        - DBHOST=${DBHOST}
        - REDIS_HOST=${REDIS_HOST}
        - TZ=${TZ}
        - MAILCOW_HOSTNAME=${MAILCOW_HOSTNAME}
      restart: always
      networks:
        mailcow-network:
          aliases:
            - postfix

    rspamd-mailcow:
      image: ghcr.io/mailcow/rspamd:3.14.2
      dns:
        - 127.0.0.11
      environment:
        - TZ=${TZ}
        - REDIS_HOST=${REDIS_HOST}
        - DBHOST=${DBHOST}
      volumes:
        - ./data/conf/rspamd/local.d/:/etc/rspamd/local.d:Z
        - rspamd-vol-1:/var/lib/rspamd
      restart: always
      networks:
        mailcow-network:
          aliases:
            - rspamd

    nginx-mailcow:
      depends_on:
        - php-fpm-mailcow
        - sogo-mailcow
      image: ghcr.io/mailcow/nginx:1.05
      dns:
        - 127.0.0.11
      environment:
        - HTTPS_PORT=443
        - HTTP_PORT=80
        - MAILCOW_HOSTNAME=${MAILCOW_HOSTNAME}
        - TZ=${TZ}
      volumes:
        - ./data/web:/web:ro,z
        - ./data/assets/ssl/:/etc/ssl/mail/:ro,z
        - ./data/conf/nginx/:/etc/nginx/conf.d/:z
        - sogo-web-vol-1:/usr/lib/GNUstep/SOGo/
      restart: always
      networks:
        mailcow-network:
          aliases:
            - nginx

    watchdog-mailcow:
      image: ghcr.io/mailcow/watchdog:2.09
      dns:
        - 127.0.0.11
      environment:
        - DBNAME=${DBNAME}
        - DBUSER=${DBUSER}
        - DBPASS=${DBPASS}
        - DBHOST=${DBHOST}
        - REDIS_HOST=${REDIS_HOST}
        - TZ=${TZ}
      restart: always
      networks:
        mailcow-network:
          aliases:
            - watchdog

    acme-mailcow:
      image: ghcr.io/mailcow/acme:1.95
      dns:
        - 127.0.0.11
      environment:
        - DBHOST=${DBHOST}
        - REDIS_HOST=${REDIS_HOST}
        - TZ=${TZ}
        - MAILCOW_HOSTNAME=${MAILCOW_HOSTNAME}
      volumes:
        - ./data/web/.well-known/acme-challenge:/var/www/acme:z
        - ./data/assets/ssl:/var/lib/acme/:z
      restart: always
      networks:
        mailcow-network:
          aliases:
            - acme

    netfilter-mailcow:
      image: ghcr.io/mailcow/netfilter:1.63
      environment:
        - TZ=${TZ}
      network_mode: "host"
      restart: always

    dockerapi-mailcow:
      image: ghcr.io/mailcow/dockerapi:2.11
      environment:
        - DBHOST=${DBHOST}
        - REDIS_HOST=${REDIS_HOST}
        - TZ=${TZ}
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock:ro
      restart: always
      networks:
        mailcow-network:

    olefy-mailcow:
      image: ghcr.io/mailcow/olefy:1.15
      environment:
        - TZ=${TZ}
      restart: always
      networks:
        mailcow-network:

    memcached-mailcow:
      image: memcached:alpine
      environment:
        - TZ=${TZ}
      restart: always
      networks:
        mailcow-network:

    ofelia-mailcow:
      image: mcuadros/ofelia:latest
      command: daemon --docker -f label=com.docker.compose.project=mailcow-dockerized
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock:ro
      restart: always
      networks:
        mailcow-network:

networks:
  mailcow-network:
    name: e-c-deployerscript_e-commerce-network
    external: true

volumes:
  vmail-vol-1:
  vmail-index-vol-1:
  mysql-vol-1:
  mysql-socket-vol-1:
  redis-vol-1:
  rspamd-vol-1:
  sogo-web-vol-1:
